node_modules
.next
.git
.gitignore
.github
.env*
*.md
nginx
deploy.sh
docker-compose*.yml
Dockerfile
.dockerignore
__tests__
e2e
vitest.config.ts
coverage
scripts
.vscode
docs
.lighthouseci
playwright-report
*.pdf
